// Font import in main.js
// https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500&display=swap

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


// Header
h1 {
  font-weight: 700;
  text-transform: uppercase;
}



// Links
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: red;
  }
}


// Projects
.article__block {
  p {
    font-size: calc(12px + 0.2vw);
    line-height: calc(16px + 0.2vw);
    text-align: left;
  }
}

.text--caption {
  line-height: 6px;
}
